<form action="/sea_lions" method="POST">
  <div>
    <input type="text" name="sea_lion[name]" placeholder="name">
  </div>
  <div>
    <input type="password" name="sea_lion[password]" placeholder="password">
  </div>
  <div>
    <input type="text" name="sea_lion[ocean]" placeholder="ocean">
  </div>
  <div>
    <input type="text" name="sea_lion[whisker_count]" placeholder="whisker count">
  </div>
  <div>
    <h3>Skills:</h3>
    <% @skills.each do |skill| %>
      <input type="checkbox" name="skills[]" value="<%= skill.id %>"><%= skill.name %><br>
    <% end %>
  </div>
  <div>
    <input type="submit" value="Create this Sea Lion!">
  </div>
</form>
