<%= erb :'sea_lions/_sea_lion', locals: {sea_lion: @sea_lion}, layout: false %>

<p><a class='edit-lion' href="/sea_lions/<%= @sea_lion.id %>/edit">Edit this Sea Lion</a></p>
<p>
  <form action="/sea_lions/<%= @sea_lion.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="DELETE THIS SEA LION">
  </form>
</p>
