<!DOCTYPE html>
<html lang="en">
<head>
  
  <link rel="stylesheet" href="/css/normalize.css">
  
  <link rel="stylesheet" href='/css/foundation.min.css'>
  <link rel="stylesheet" href='/css/application.css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script src="/js/application.js"></script>
  
  <script src="/js/objects.js"></script>
  

  <title>Lions</title>
</head>
<body>
  <nav class='top-bar'>
    <ul class='menu top-bar-left'>
      <li><a href="/">Home</a></li>
      <li><a href="/sea_lions/new">Create a new Sea Lion</a></li>
    </ul>
    <ul class='menu top-bar-right'>
      <% if logged_in? %>
        <li class='menu-text'>Welcome, <%= current_user.name %>. Thanks for logging in.</li>
        <li><a href="/logout">Logout</a></li>
      <% else %>
        <li><a href="/login">Login</a></li>
      <% end %>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
